<div class="container text-center m-5">
    <hr>
    <h1>
        {{ titulo }}
    </h1>
    <hr>
</div>

<div class="container">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/10-2.jpg" class="d-block h-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/04.jpg" class="d-block h-200" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/03.jpg" class="d-block h-50" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              
        <div class="col">
          <div class="card shadow-sm">
          <img src="/img/222.jpg" alt="">
            <div class="card-body">
              <p class="card-text">Resaltadores pack 6</p>

              <div class="d-flex justify-content-between align-items-center">

                <div class="btn-group">
                  
                    <div class="mb-3 text-center">

                      <form action="/boton" method="post">
                      <a href="/pedidos" class="btn btn-sm btn-outline-secondary" href="/pedidos" style="color: rgb(0, 0, 0); background-color: rgb(136, 204, 136)";>Enviar Pedido
                      </a>
                      </form>

                  

                    </div>
                  
                  
                </div>
                <small class="text-muted">10 mins</small>
                
              </div>
            </div>
          </div>

      

        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/img/111.jpg" alt="">
            <div class="card-body">
              <p class="card-text">Sacapuntas KAWAII</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="/boton" method="post">
                    <div class="mb-3 text-center">
                      <button type="submit" class="btn btn-sm btn-outline-secondary" style="color: rgb(0, 0, 0); background-color: rgb(136, 204, 136)";>Enviar Pedido</button>
                    </div>
                  </form>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/img/55.jpg" alt="">
            <div class="card-body">
              <p class="card-text">holaaaaaaaaaaaaaa.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="/boton" method="post">
                    <div class="mb-3 text-center">
                      <button type="submit" class="btn btn-sm btn-outline-secondary" style="color: rgb(0, 0, 0); background-color: rgb(136, 204, 136)";>Enviar Pedido</button>
                    </div>
                  </form>
                </div>
                <small class="text-muted">15 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/img/hola.jpg" alt="">

            <div class="card-body">
              <p class="card-text">chaoooooooooooooo</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="/boton" method="post">
                    <div class="mb-3 text-center">
                      <button type="submit" class="btn btn-sm btn-outline-secondary" style="color: rgb(0, 0, 0); background-color: rgb(136, 204, 136)";>Enviar Pedido</button>
                    </div>
                  </form>
                </div>
                <small class="text-muted">5 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/img/77.jpg" alt="">

            <div class="card-body">
              <p class="card-text">aaaaaaaaaaaaaaaaaaaa</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="/boton" method="post">
                    <div class="mb-3 text-center">
                      <button type="submit" class="btn btn-sm btn-outline-secondary" style="color: rgb(0, 0, 0); background-color: rgb(136, 204, 136)";>Enviar Pedido</button>
                    </div>
                  </form>
                </div>
                <small class="text-muted">10 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
          <img src="/img/03.jpeg" alt=""> 

            <div class="card-body">
              <p class="card-text">hoooooooooooo</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="/boton" method="post">
                    <div class="mb-3 text-center">
                      <button type="submit" class="btn btn-sm btn-outline-secondary" style="color: rgb(0, 0, 0); background-color: rgb(136, 204, 136)";>Enviar Pedido</button>
                    </div>
                  </form>
                </div>
                <small class="text-muted">8 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/img/999.jpg" alt="">
            
            <div class="card-body">
              <p class="card-text">Pdaleeeeeeeeeeeee</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <form action="/boton" method="post">
                    <div class="mb-3 text-center">
                      <button type="submit" class="btn btn-sm btn-outline-secondary" style="color: rgb(0, 0, 0); background-color: rgb(136, 204, 136)";>Enviar Pedido</button>
                    </div>
                  </form>
                </div>
                <small class="text-muted">10 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/img/04.jpg" alt="">            

            <div class="card-body">
              <p class="card-text">caarajoo</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="/boton" method="post">
                    <div class="mb-3 text-center">
                      <button type="submit" class="btn btn-sm btn-outline-secondary" style="color: rgb(0, 0, 0); background-color: rgb(136, 204, 136)";>Enviar Pedido</button>
                    </div>
                  </form>
                </div>
                <small class="text-muted">5 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/img/10-2.jpg" alt="">
            
            <div class="card-body">
              <p class="card-text">camarones o solo.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <form action="/boton" method="post">
                    <div class="mb-3 text-center">
                      <button type="submit" class="btn btn-sm btn-outline-secondary" style="color: rgb(0, 0, 0); background-color: rgb(136, 204, 136)";>Enviar Pedido</button>
                    </div>
                  </form>
                </div>
                <small class="text-muted">10 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

