<div class="container text-center m-5">
    <hr>
    <h1>
        ¡Gracias por registrarse!
    </h1>
    <h5>Le estaremos mandando un mail para avisarle que su registro fue exitoso</h5>
    <hr>
</div>